@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

/* header */
.banner {
    border-radius: 16px;
    background-image: url(..//picture/Banner\ Image.png);
    filter: brightness(90%);
    width: 68%;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
    text-align: center;
}

.banner .banner-text {
    padding-top: 18%;
    color: white;

}

.banner .banner-body {
    width: 28%;
    margin: 5px auto;
    color: white;
    font-size: 40px;
}

/* catagory */

.catagory {
    text-align: center;
}

.catagory h1 {
    color: red;
    font-size: 60px;

}

.catagory h4 {
    color: red;
    font-size: 18px;

}

.catagory h2 {
    font-size: 38px;
}

/* container */
.container {
    width: 68%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    background-image: url(..//picture/Vectorrr.png);

}

.container-text {
    width: 30%;
    color: white;
    padding: 50px 50px 50px 80px
}

.container-text h1 {
    font-size: 50px;
}

.container-img {
    padding: 40px 70px 10px 20px;
}

/* text */
.text {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 68%;
    margin: 70px auto;
    text-align: center;
    padding-top: 7%;
    height: 300px;

}
span {
    color: red;
}

/* portfolio */
.Portfolio{
    width: 68%;
    margin: 20px auto;
    ;
}
   
.triangle{
    color:red;
    font-size: 24px;
    
}
.triangle-text{
    font-size: 45px;
    line-height: 0%;
    
}
.triangle-text-p{
    width: 50%;
}

 
.shoping{
    display: flex;
    width: 68%;
    max-width: 69%;
    margin:80px auto;
    gap:10px
    
}
 
 
 
.gogles-degine{
    display: flex;
    width: 68%;
    margin:10px auto;
    gap:20px;
}

/* subscribe */
.subscribe{
    width: 68%;
    margin:10% auto;
    text-align: center;
    background: linear-gradient(120deg, rgba(163, 8, 8, 0.1) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding:80px 0px 20px ;
    border:2px solid green;
}
#email{
    width:40%;
    height: 40px;
    border-radius: 30px 0px 0px 30px;
    padding: 10px;
    gap:30;
    font-size: 18px;
    border:hidden;
    background-color: white;
}
.btn{
    width: 200px;
    background-color: red;
    font-size: 18px;
     height: 63px;
     margin:20px 20px 30px -5px;
     border-radius:0px 40px 40px 0px
}